@model IEnumerable<SlovenskiKino.Models.CenikVstopnic>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RednaCena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CenaSpopustom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentskaCena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doplacilo3D)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoplaciloZa120)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPodjetjaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RednaCena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CenaSpopustom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentskaCena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doplacilo3D)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoplaciloZa120)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPodjetjaNavigation.IdPodjetja)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCenik">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCenik">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCenik">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
