@model IEnumerable<SlovenskiKino.Models.InfoOdvoranah>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dvorana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SteviloSedezov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SteviloVrst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvalidskiSedezi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Podpora3D)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dvorana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SteviloSedezov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SteviloVrst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvalidskiSedezi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Podpora3D)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInfo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdInfo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdInfo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
