@model SlovenskiKino.Models.Kinematografi

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kinematografi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kinematograf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kinematograf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdPodjetjaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPodjetjaNavigation.IdPodjetja)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdKinematograf">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
