@model SlovenskiKino.Models.ArhivFilmov

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ArhivFilmov</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SlovenskiNaslov)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SlovenskiNaslov)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AngleskiNaslov)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AngleskiNaslov)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zanr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zanr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dolzina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dolzina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdFilma" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
